/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/***************FONTE**************/
h1 {
  font-family: "Averia Serif Libre", serif;
  letter-spacing: 0cm;
  color: rgb(88, 128, 97);
  text-shadow: 6px 7px 5px rgb(99, 20, 62);
  margin-bottom: 1rem;
  margin-left: 3rem;
}
h2 {
  font-family: "Averia Serif Libre", serif;
  font-weight: 500;
  color: rgb(120, 19, 100);
  margin-bottom: 0rem;
  padding: 15px;
}
h3 {
  font-family: "Averia Serif Libre", serif;
  font-weight: 600;
  color: rgb(120, 19, 100);
  margin-bottom: 0rem;
}
.h3_footer {
  font-family: "Averia Serif Libre", serif;
  font-weight: 600;
  color: rgb(209, 94, 117);
  margin: 0.3rem;
}

h4 {
  font-family: "Overlock", sans-serif;
  font-weight: 600;
  color: rgb(209, 94, 117);
  margin-bottom: 0rem;
  margin-left: 0.5rem;
}

ul {
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(209, 94, 117);
  font-size: 18px;
  border-width: 10px;
  padding-bottom: 1rem;
}
ul li {
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(209, 94, 117);
  font-size: 18px;
}

p {
  margin-top: 0rem;
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(120, 19, 100);
  font-size: 20px;
  padding: 15px;
}
nav {
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(209, 94, 117);
}
a {
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(209, 94, 117);
}

/****************ALT I DESKTOP*************/
@media screen and (min-width: 800px) {
  /********GENERELT********/
  /*billeder*/
  img {
    border-radius: 25px;
  }
  /*får main på midten - alle sider*/
  main {
    max-width: 1200px;
    margin-inline: auto;
  }
  /*bg-farver og andet*/
  body {
    background-color: rgb(253, 233, 242);
  }
  main {
    padding: 15px;
    background-color: rgb(241, 189, 205);
  }

  header {
    padding: 15px;
    background-color: rgb(253, 233, 242);
  }
  footer {
    font-family: "Overlock", sans-serif;
    font-weight: 600;
    background-color: rgb(253, 233, 242);
    color: rgb(153, 214, 110);
    padding: 15px;
    font-size: 1.2rem;
  }
  /*********************FORSIDE*********************/
  /*********************BLOG*********************/
  .blog_image {
    width: 700px;
    height: auto;
  }
  .blog {
    background: #ba5370;
    background: -webkit-linear-gradient(to right, #f4e2d8, #ba5370, #d73ed7);
    background: linear-gradient(to right, #f4e2d8, #ba5370, #d73eac);
    border-radius: 25px;
    margin-right: 1rem;
  }
  .blog_1 {
    background: #ba5370;
    background: -webkit-linear-gradient(to right, #f4e2d8, #ba5370, #d73ed7);
    background: linear-gradient(to right, #f4e2d8, #ba5370, #d73eac);
    border-radius: 25px;
    margin-right: 1rem;
  }
  .blog_2 {
    background: #ba5370;
    background: -webkit-linear-gradient(to right, #f4e2d8, #ba5370, #d73ed7);
    background: linear-gradient(to right, #f4e2d8, #ba5370, #d73eac);
    border-radius: 25px;
    margin-right: 1rem;
  }
  /*********************ORDSPROGENE*********************/
  .ordsprogene {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
  }
  .kapitler {
    padding: 2rem;
    background-color: #e88fe8;
    border-radius: 25px;
  }
  .dagens_opsummering {
    margin-left: 1rem;
  }
  .dagens_ordsprog {
    margin-left: 2.4rem;
  }
  /*********************ARRANGEMENTER*********************/
  .kalender_tekst {
    margin-top: 0rem;
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(187, 107, 171);
    font-size: 14px;
    padding: 15px;
  }
  .kalender_tekst_2 {
    margin-top: 0rem;
    font-family: "Overlock", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(120, 48, 106);
    font-size: 14px;
    padding: 15px;
  }
  /*********************OM OS*********************/
  /*********************SHOP*********************/
}
