#main_arrang {
  max-width: 1200px;
  margin-inline: auto;
}

.kalender_tekst {
  margin-top: 0rem;
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(187, 107, 171);
  font-size: 14px;
  padding: 15px;
}
.kalender_tekst_2 {
  margin-top: 0rem;
  font-family: "Overlock", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(120, 48, 106);
  font-size: 14px;
  padding: 15px;
}

.main_arrangementer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main_arrangementer_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.event {
  background-color: rgba(245, 157, 217, 0.571);
  border-radius: 30px;
  margin: 1rem;
  padding: 20px;
}
ul {
  list-style-type: none;
}
.kalender {
  margin-right: 1rem;
}
/*måned header*/
.month {
  padding: 30px 25px;
  width: 100%;
  background-color: rgb(189, 151, 181);
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
/*måned liste*/
.month ul {
  margin: 0;
  padding: 0;
}
.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*ugedage (man-søn)*/
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}
.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #665;
  text-align: center;
}

/*dage (1-31)*/
.dage {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.dage li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 13px;
  color: #777;
  padding: 2px;
}
/*highlight den nuværende dag og events*/
.active {
  background: rgb(233, 211, 228);
}
